$shadow-color: rgba(0, 0, 0, .342);
$background-color: rgba(0, 0, 0, .315);
$main-bg-color: #fff;

:host {
    display: block;
    position: relative;
}

.expand {
    position: fixed;
    top: 50px;
}

.close-button {
    cursor: pointer;
    display: none;
    margin: 10px 0 0;
}

.close-button-show {
    color: $main-bg-color;
    display: block;
    position: fixed;
    right: 10%;
    top: 5%;
}

.show {
    bottom: 10%;
    box-shadow: 0 3px 50px $shadow-color;
    left: 10%;
    position: fixed;
    right: 10%;
    top: 15%;
}

.wrapper {
    background-color: $main-bg-color;
    overflow: scroll;
    padding: 20px;
}

.background {
    background-color: $background-color;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .5s;
}

.show-background {
    opacity: 1;
}
