<div class="background" [ngClass]="{'show-background': isExpanded}" (click)="isExpanded = false"></div>
<div class="filler" *ngIf="isExpanded" [style.height.px]="dimensions.y" [style.width.px]="dimensions.x"></div>
<div class="wrapper" [ngClass]="{'show': isExpanded}">
    <div class="close-button float-right" [ngClass]="{'close-button-show': isExpanded}" (click)="isExpanded = false">
        <i class="fa fa-times fa-3x" aria-hidden="true"></i>
    </div>
    <div>
        <form (ngSubmit)="search()" #searchForm="ngForm">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchTerm" name="searchTerm" autocomplete="off"
                    required (click)="isExpanded = true">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>

    <div class="card-columns" *ngIf="results$ | async; let results; else loading">
        <div *ngFor="let song of results">
            <app-search-item [searchResult]="song" (click)="addSong(song)"></app-search-item>
        </div>
    </div>

    <ng-template #loading>
        <div *ngIf="results$; else showIntro">
            Loading
        </div>
        <ng-template #showIntro>
            Search something
        </ng-template>
    </ng-template>
</div>
