$shadow-color: rgba(0, 0, 0, .342);
$background-color: rgba(0, 0, 0, .315);
$main-bg-color: #fff;

:host {
    display: block;
    position: relative;
}

.close-button {
    color: $main-bg-color;
    cursor: pointer;
    display: block;
    margin: 10px 0 0;
    position: fixed;
    right: 10%;
    top: 15%;
    transform: translate(0, -70px);
    z-index: 11;
}

.fake-search-box {
    padding: 20px;
}

.wrapper {
    background-color: $main-bg-color;
    bottom: 10%;
    box-shadow: 0 3px 50px $shadow-color;
    display: flex;
    flex-direction: column;
    left: 10%;
    overflow: hidden;
    position: fixed;
    right: 10%;
    top: 15%;
    z-index: 11;

    .search-box {
        padding: 20px;
    }

    .body {
        flex-grow: 1;
        overflow-y: scroll;
        padding: 20px;

        .search-results {
            height: 100%;
        }
    }
}

.background {
    background-color: $background-color;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .5s;
    z-index: 10;
}

.show-background {
    opacity: 1;
    pointer-events: auto;
}
