<app-search></app-search>
<div *ngIf="room$ | async; let room; else loading">
    <h1>{{room.name}}</h1>

    <app-player (event)="playerEvent($event)" #player></app-player>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of room.room.songs">
                <th scope="row">1</th>
                <td>{{song | json}}</td>
                <td>{{song.duration | date:'mm:ss'}}</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>

    {{room | json}}

    <app-chat></app-chat>

</div>

<ng-template #loading>
    Loading
</ng-template>
