<div class="container">
    <div *ngIf="room$ | async; let room; else loading">
        <h1>{{room.name}}</h1>
        <p>Total ravers: {{room.totalUsers}}</p>

        <app-player (event)="playerEvent($event)" #player></app-player>

        <app-search></app-search>

        <div class="row">
            <div class="col-md-8">
                <app-playlist [room]="room"></app-playlist>
            </div>

            <div class="col-md-4">
                <app-chat></app-chat>
            </div>
        </div>
        {{room | json}}


    </div>

    <ng-template #loading>
        Loading
    </ng-template>
</div>
