<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Create Room</label>
                <input type="email" class="form-control" placeholder="Enter room name">
                <small id="emailHelp" class="form-text text-muted">Create a room for others to join to share music in real time.</small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
