// sass-lint:disable no-vendor-prefixes
$scroll-bg-color: rgba(255, 255, 255, 0);
$scroll-color: rgba(26, 26, 26, .836);

.messages {
    display: block;
    height: 500px;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar-track {
        background-color: $scroll-bg-color;
    }

    &::-webkit-scrollbar {
        background-color: $scroll-bg-color;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-color;
    }
}
