<div class="card mb-3" [routerLink]="['/room']" [queryParams]="{name: room.room.name}">
    <div class="crop">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let song of room.room.songs" [ngClass]="{'active': i === 0}" [attr.data-index]="i">
                    <img class="d-block w-100" [src]="song.data.thumbnails.high.url">
                </div>
            </div>
        </div>
        <img class="card-img-top" [src]="room.thumbnails.high.url" alt="Room thumbnail">
    </div>
    <div class="card-body">
        <h4 class="card-title">{{room.room.name}}</h4>
        <p class="card-text">
            <small class="text-muted">{{room.length}} {{room.length > 1 ? 'people' : 'person'}} raving</small>
        </p>
    </div>
</div>
