<button class="play btn btn-link btn-lg" [disabled]="!IsAudioLoaded" *ngIf="!IsAudioLoaded">
    <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>
</button>

<div *ngIf="IsAudioLoaded">
    <button class="play btn btn-link btn-lg" (click)="play()" [disabled]="!IsAudioLoaded" [hidden]="!audio.paused">
        <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>
    </button>

    <button class="play btn btn-link btn-link btn-lg" (click)="pause()" [disabled]="!IsAudioLoaded" [hidden]="audio.paused">
        <i class="fa fa-pause-circle fa-5x" aria-hidden="true"></i>
    </button>
</div>

<app-seek [(ngModel)]="SeekPercentage" name="seekPercentage" [disabled]="!IsAudioLoaded" (ngModelChange)="seek($event)"></app-seek>
