<div class="container">
    <h1 class="display-1">Jukebox</h1>

    <hr>

    <div *ngIf="rooms$ | async; let rooms; else loading">
        {{rooms | json}}
        <div class="card-columns">
            <app-sign-up></app-sign-up>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Best Music service ever.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Totally legit reviewer
                        </small>
                    </footer>
                </blockquote>
            </div>
            <app-room-card *ngFor="let room of rooms" [room]="room"></app-room-card>

        </div>
    </div>

    <ng-template #loading>
        loading rooms...
    </ng-template>
</div>
