:host {
    cursor: pointer;
    display: block;
    position: relative;
}

.crop {
    align-items: center;
    display: flex;
    height: 190px;
    justify-content: center;
    overflow: hidden;
}
